/* Required Features */
/* header {
  background-color: #1b264f;
  color: #ced2e2;
  text-align: center;
}

main {
  background-color: #e1e0e0;
  padding: 1em;
}

body {
  background-image: url("https://github.com/AustinKammerer/prime-pw-week-5-assignment-part-2/blob/master/assignment/record.png?raw=true");
  background-repeat: repeat;
  margin: 0;
} */

/* Stretch Goal - Styles as Classes */
body {
  margin: 0;
}

.record-BG {
  background-image: url("https://github.com/AustinKammerer/prime-pw-week-5-assignment-part-2/blob/master/assignment/record.png?raw=true");
  background-repeat: repeat;
}

.dark-theme {
  background-color: #1b264f;
  color: #ced2e2;
}

.centered {
  text-align: center;
}

.light-theme {
  background-color: #e1e0e0;
  color: #302b27;
}

.padding-xtra {
  padding: 1em;
}
